.shiny-text {
    color: #f5f5f5;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 0) 70%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 3s linear infinite;
    position: relative;
}

.shiny-text::after {
    content: attr(text);
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 70%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 3s linear infinite;
    opacity: 0.5;
}

@keyframes shine {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: -200% center;
    }
}

.shiny-text.disabled {
    animation: none;
    background: none;
    -webkit-background-clip: text;
}

.shiny-text.disabled::after {
    display: none;
}