@import "tailwindcss";

@font-face {
  font-family: 'Acme';
  src: url('./fonts/Acme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus';
  src: url('./fonts/Marcellus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(135deg, #c5576d 0%, #850E35 100%);
  width: 100vw;
  font-family: 'Acme', sans-serif;
}

.nefer-font {
  font-family: 'Marcellus', serif;
}